{% extends 'store/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'store/css/index.css' %}">{% endblock css %}
{% block title %}Accueil|DeliaShop{% endblock title %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for product in products %}
        <div class=" product-detail col-md-3 col-sm-6 rounded" >
            <a href="{% url 'store:product-detail' product.id  %}"><img class="product-image" class="img-fluid rounded" src=" {{product.imageURL}} " alt=""></a>
            <div class="box-element">
                <a href="{% url 'store:product-detail' product.id %}"><h6><b>{{product.name}}</b></h6></a>
                <h6><b>{{product.price}} Fcfa</b></h6>
               <a class=" add btn btn-outline-dark " href="#">Ajouter au panier</a>
                <button class=" add btn btn-outline-info"><a href="{% url 'store:product-detail' product.id %}">Voir</a></button>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock content %}