{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'store/css/login.css'%}"> {% endblock css %}
{% block title %}Connexion{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div style="margin-top: 20px; margin-left: 380px; position: relative; "  class="card">
                <form action=" {% url 'store:login' %} " method="post" role="form">
                    {% csrf_token %}
                    <div class="card-header">
                        <h5 class="title">Connexion</h5>
                        <h6 class="card-category">
                            {% if msg %}
                            <span class="text-danger"> {{msg|safe}} </span>
                            {% else %}
                            <span>Ajouter vos informations de connexion</span>
                            {% endif %}
                        </h6>
                    </div>
                    <div class="card-body" >
                        <div class="row">
                            <div class="md-4 px-md-1">
                                <div class="form-group">
                                    <label>Username</label>
                                    {{form.username}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="md-4 px-md-1">
                                <div class="form-group">
                                    <label>Mot de passe</label>
                                    {{form.password}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-footer">
                        <button type="submit" name="form" style="margin-left: 8px; margin-bottom: 5px;" class="btn btn-fill btn-outline-info">
                            Se connecter
                        </button>
                        &nbsp; &nbsp;
                        Pas de compte? <a href=" {%url 'store:register'%} " class="text-success">Créer</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}