{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'store/css/register.css' %}"> {% endblock css %}
{% block title %}Créer un compte{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-4  rounded "
        style="margin-left: 420px; margin-top:2%; ">
        <div class="card">
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="card-header">
                    <h5 class="title">Inscription</h5>

                    <h6 class="card-category">
                        {% if msg %}
                        <span class="text-success">{{ msg | safe }}</span>
                        {% else %}
                        Ajouter vos informations
                        {% endif %}
                    </h6>
                </div>

                {% if success %}

                <p>
                    Veuillez vous <a href="{% url 'login' %}">connecter</a> en utilisant ce nouveau compte.
                </p>

                {% else %}

                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label></label>
                                {{ form.username }}
                            </div>
                            <span class="text-danger"><small style="font-size: 10px;">{{ form.username.errors }}</small></span>
                        </div>

                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label></label>
                                {{ form.email }}
                            </div>
                            <div><span class="text-danger"><small>{{ form.email.errors }}</small></span></div>
                        </div>
                        

                    </div>
                    <div class="row">
                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label></label>
                                {{ form.first_name }}
                            </div>
                            <div><span class=" text-danger"><small>{{ form.first_name.errors }}</small></span></div>
                        </div>

                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label></label>
                                {{ form.last_name }}
                            </div>
                            <div> <span class="text-danger"><small>{{ form.last_name.errors }}</small></span></div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label></label>
                                {{ form.password1 }}
                            </div>
                            <div><span class="text-danger"><small>{{ form.password1.errors }}</small></span></div>

                        </div>
                        
                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label></label>
                                {{ form.password2 }}
                            </div>
                            <div><span class="text-danger"><small style="font-size: small;" >{{ form.password2.errors }}</small></span></div>
                        </div>
                       
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" name="register" class="btn  btn-outline-info">M'inscrire</button>
                    &nbsp; &nbsp;
                    Déjà inscrit ? <a href="{% url 'login' %}" class="text-info">Se connecter</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}